.container {
    /*border: 1px solid red;*/
}

.row {

}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1%;
    border-radius: 15px;
}

.paragraph {
    margin-top: 2%;
    margin-bottom: 2%;
}

.main-image {
    background-image: url(images/Animal-Crafts);
    height: 500px;
    width: 80%;
    border-radius: 15px;
}